section{
    width: 100%;
    height: 95vh;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
.login-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
}
.login-area>form>*{
    border-radius: 1vh;
}
.login-area>form>*:not(:first-child,:nth-child(2),:last-child){
    margin: 0.1vh;
    width: 18vw;
    height: 5vh;
}
.login-form{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
.input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    height: 8vh;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    flex-shrink: 0;
}
.input-box>*{
    font-size: larger;
}
.kakao-start{
    cursor: pointer;
    background-color: #FEE500;
    font-size: larger;
    color: black;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn{
    cursor: pointer;
    background-color: #fdfdfd;
    font-size: larger;
    color: black;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-btn{
    cursor: pointer;
    
}
*{
    text-align: center;
}
.sub-contents{
    margin-top: 1vh;
    display: flex;
    align-content: center;
    justify-content: space-around;
    font-size: xx-small;
}
.sub-contents>div:not(:last-child):after{
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin: 5px;
}
.sub-contents>*{
    cursor: pointer;
}
.intro-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vw;
    border: 1px solid white;
    flex-direction: column;
    font-weight: bolder;
}
.intro-area>img{
    width: 20%;
    height: 50%;
}
