<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/index_resource/css/index_main.css}">
    <link rel="stylesheet" th:href="@{/index_resource/css/common.css}">

</head>

<body>
    <div class="wrap">
        <header>
            <div class="container_area">
                <div>
                    <div>메뉴</div>
                </div>

                <div class="search_area growing_effect_hover">
                    <img class="hidden img" src="index_resource/img/pngwing.com.png" alt="">
                    <input type="text" onfocus="showElement(this)" onfocusout="hideElement(this)" name="main_search"
                        class="main_search" placeholder="프로젝트 검색하기">
                </div>

                <div class="login_area">
                    로그인
                </div>
            </div>
        </header>
        <section class="main_section">
            <div class="main_title font observer">
                안녕하세요.<br>
                저의 코딩 회고록에 오신것을<br>
                환영합니다 <br>
                😄
            </div>
        </section>
        <section class="second_section">
            <div class="intro font ">
                <div class="observer">
                    5월달...js로 그림판 만들기<br>
                    음...쉬운데?
                </div>
            </div>
            <div class="project_area growing_effect">
                <div class="painting-area">
                    <div class="color-options observer-left">
                        <input type="color" id="color" />
                        <div class="color-option" style="background-color: #1abc9c" data-color="#1abc9c"></div>
                        <div class="color-option" style="background-color: #3498db" data-color="#3498db"></div>
                        <div class="color-option" style="background-color: #34495e" data-color="#34495e"></div>
                        <div class="color-option" style="background-color: #27ae60" data-color="#27ae60"></div>
                        <div class="color-option" style="background-color: #8e44ad" data-color="#8e44ad"></div>
                        <div class="color-option" style="background-color: #f1c40f" data-color="#f1c40f"></div>
                        <div class="color-option" style="background-color: #e74c3c" data-color="#e74c3c"></div>
                        <div class="color-option" style="background-color: #95a5a6" data-color="#95a5a6"></div>
                        <div class="color-option" style="background-color: #d35400" data-color="#d35400"></div>
                        <div class="color-option" style="background-color: #2ecc71" data-color="#2ecc71"></div>
                        <div class="color-option" style="background-color: #e67e22" data-color="#e67e22"></div>
                    </div>
                    <canvas class="observer"></canvas>
                    <div class="btns observer-right">
                        <input id="line-width" type="range" min="1" max="30" value="5" step="0.1" />
                        <button id="mode-btn">🩸 Fill</button>
                        <button id="destroy-btn">💣 Destroy</button>
                        <button id="eraser-btn">❌ Erase</button>
                        <label for="file">
                            💅🏻 Add Photo
                            <input type="file" accept="image/*" id="file" /></label>
                        <input type="text" id="text" placeholder="text 😄!" />
                        <button id="save">🖼 Save image</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="html">
            <div class="intro font ">
                <div class="observer">
                    <div style="color: rgb(0,185,24);">NAVER....</div>
                    <div style="color: #0064FF;">토스 </div>
                    클론 코딩에 이어..jsp...<br>
                    그리고 스프링..
                </div>
            </div>

			<div class="ppt_area">

                <div class="img_container ">
                    
                    <div class=" card  observer">
                        <img class="card-img growing_effect" th:src="@{/index_resource/img/ppt-0.png}" alt="Download">
                        <div class="card-content">
                            팀이정해지고...
                        </div>
                    </div>
                    
                    <div class=" card  observer">
                        <img class="card-img growing_effect" th:src="@{/index_resource/img/ppt-1.png}" alt="Download">
                        <div class="card-content">
                            어쩌다보니 조장이 되어버렸다..
                        </div>
                    </div>
                    
                    <div class=" card  observer">
                        <img class="card-img " th:src="@{/index_resource/img/ppt-2.png}" alt="Download">
                        <div class="card-content">
                            프로젝트...잘 할수 있을까..?
                        </div>
                    </div>
                    
                </div>
                <a class="a-btn growing_effect" th:href="@{/api/file/downLoad/1조_Final.pdf}">
                    ppt 보기
                </a>
			</div>
        </section>
        <section>
			<div class="img_area">
                <div class="img_container slide-left">
                    <div class="card growing_effect observer">
                        <img class="card-img" src="index_resource/img/main_section.jpg" alt="">
                        <div class="card-content">
                            내용을 넣고 
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <img class="card-img" src="index_resource/img/main_section.jpg" alt="">
                        <div class="card-content">
                            내용을 넣고 
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <img class="card-img" src="index_resource/img/main_section.jpg" alt="">
                        <div class="card-content">
                            내용을 넣고 
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <img class="card-img" src="index_resource/img/main_section.jpg" alt="">
                        <div class="card-content">
                            내용을 넣고 
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <img class="card-img" src="index_resource/img/main_section.jpg" alt="">
                        <div class="card-content">
                            내용을 넣고 
                        </div>
                    </div>
                </div>
            </div>
		</section>
        <footer>

        </footer>
    </div>
    <script src="index_resource/js/common.js"></script>
    <script src="index_resource/js/painting.js"></script>
</body>

</html>