<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/index_resource/css/index_main.css}">
    <link rel="stylesheet" th:href="@{/index_resource/css/common.css}">

</head>

<body>
    <div class="wrap">
        <th:block th:replace="~{/layout/header::header}"></th:block>
        <section class="one main_section moving-center-observer">
            <div class="main_title font observer">
                안녕하세요.<br>
                저의 코딩 회고록에 오신것을<br>
                환영합니다 <br>
                😄
            </div>
        </section>
        <section class="two section1 moving-center-observer">
            <div class="intro font ">
                <div class="observer">
                    5월달...js로 그림판 만들기<br>
                    음...쉬운데? 코딩 별거 없나???
                </div>
            </div>
            <div class="project-area">
                <div class="painting-area">
                    <div class="color-options observer-left">
                        <input type="color" id="color" />
                        <div class="color-option" style="background-color: #1abc9c" data-color="#1abc9c"></div>
                        <div class="color-option" style="background-color: #3498db" data-color="#3498db"></div>
                        <div class="color-option" style="background-color: #34495e" data-color="#34495e"></div>
                        <div class="color-option" style="background-color: #27ae60" data-color="#27ae60"></div>
                        <div class="color-option" style="background-color: #8e44ad" data-color="#8e44ad"></div>
                        <div class="color-option" style="background-color: #f1c40f" data-color="#f1c40f"></div>
                        <div class="color-option" style="background-color: #e74c3c" data-color="#e74c3c"></div>
                        <div class="color-option" style="background-color: #95a5a6" data-color="#95a5a6"></div>
                        <div class="color-option" style="background-color: #d35400" data-color="#d35400"></div>
                        <div class="color-option" style="background-color: #2ecc71" data-color="#2ecc71"></div>
                        <div class="color-option" style="background-color: #e67e22" data-color="#e67e22"></div>
                    </div>
                    <canvas class="observer"></canvas>
                    <div class="btns observer-right">
                        <input id="line-width" type="range" min="1" max="30" value="5" step="0.1" />
                        <button id="mode-btn">🩸 Fill</button>
                        <button id="destroy-btn">💣 Destroy</button>
                        <button id="eraser-btn">❌ Erase</button>
                        <label for="file">
                            💅🏻 Add Photo
                            <input type="file" accept="image/*" id="file" /></label>
                        <input type="text" id="text" placeholder="text 😄!" />
                        <button id="save">🖼 Save image</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="three moving-center-observer ">
            <div class="intro font ">
                <div class="observer">
                    음...쉽지않네..<br> 
                    점차..어려워지기 시작한다...
                </div>
            </div>
			<div class="project-area">
                <div class="img_container ">
                    <div class=" card  observer">
                        <img class="card-img growing_effect" th:src="@{/index_resource/img/ppt-0.png}" alt="Download">
                        <div class="card-content">
                            팀이정해지고...
                        </div>
                    </div>
                    <div class=" card  observer">
                        <img class="card-img growing_effect" th:src="@{/index_resource/img/ppt-1.png}" alt="Download">
                        <div class="card-content">
                            어쩌다보니 조장이 되어버렸다..
                        </div>
                    </div>
                    <div class=" card  observer">
                        <img class="card-img " th:src="@{/index_resource/img/ppt-2.png}" alt="Download">
                        <div class="card-content">
                            프로젝트...잘 할수 있을까..?
                        </div>
                    </div>
                </div>
                <a class="a-btn growing_effect" th:href="@{/api/file/downLoad/1조_Final.pdf}">
                    ppt 보기
                </a>
			</div>
        </section>
        <section class="four spring-section moving-center-observer">
            <div class="font intro">
                클릭하면 해당 페이지로 이동합니다 
            </div>
			<div class="img_area">
                <div class="img_container slide-left">
                    <div class="card growing_effect observer">
                        <a th:href="@{/user/login}">
                        <img class="card-img" src="index_resource/img/localhost_8080_user_login.png" alt="">
                        </a>
                        <div class="card-content">
                            로그인 페이지에서 무엇이 필요할까..<br>
                            어??이렇게...많아????
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <a th:href="@{/user/join}">
                            <img class="card-img" src="index_resource/img/localhost_8080_user_join.png" alt="">
                            </a>
                        <div class="card-content">
                            회원가입처리...와..이거 쉽지 않은걸..?<br>
                            쉽다고 생각했었는데.....
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <a th:href="@{/user/join_business_Page}">
                            <img class="card-img" src="index_resource/img/localhost_8080_user_join_business_Page (3).png" alt="">
                            </a>
                        <div class="card-content">
                            비지니스 회원가입이 필요하다고..? <br>
                            그럼 어떻게 구분하지???<br>
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <a href="https://github.com/hongju123/project_oco">
                            <img class="card-img" src="index_resource/img/team_git.png" alt="">
                            </a>
                        <div class="card-content">
                            우리...깃도 써야 되지 않을까..? 
                        </div>
                    </div>
                    <div class="card growing_effect observer">
                        <a th:href="@{/Cboard/list?topic=}">
                            <img class="card-img" src="index_resource/img/cboard_list.png" alt="">
                            </a>
                        <div class="card-content">
                            어렵다고..? <br>
                            못할수도 있지!<br>
                            observer을 사용해서...무한스크롤을 해볼까...
                        </div>
                    </div>
                </div>
            </div>
		</section>

    </div>
    <script src="index_resource/js/common.js"></script>
    <script src="index_resource/js/painting.js"></script>
</body>

</html>