section {
    width: 100vw;
    height: 100vh;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

section>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
}

.main-container {
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.product-area {
    width: 100%;
    height: 50%;
    border: 1px solid red;

}

.title {
    width: 99%;
    height: 20%;
    border: 1px solid rgb(255, 255, 255);

}

.product-item-area {
    width: 99%;
    height: 80%;
    border: 1px solid rgb(255, 255, 255);
}